header > h1 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: lighter;
    text-align: center;
    color: lightcyan;
}

body {
    background-color: rgb(17, 17, 17);
    font-family: 'Titillium Web', sans-serif;
    font-weight: lighter;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

a:link {
    text-decoration: none;
    color: limegreen;
}

a:visited {
    text-decoration: none;
    color: green;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: limegreen;
}

.Title {
    text-align: center;
    font-weight: lighter;
    color: white;
}

div.alerts {
    min-width: 400px;
    background-color: rgb(7, 0, 31);
    text-align: center;
    color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 8px;
    border-color: rgb(16, 0, 70);
    margin: 10px;
}

div.news {
    width: 400px;
    background-color: rgb(7, 0, 31);
    text-align: center;
    color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 8px;
    border-color: rgb(16, 0, 70);
    margin: 10px;
}

div.news > img {
    width: 100%;
}

#cetusCycle {
    background-color: rgb(7, 31, 0);
    border-color: rgb(26, 70, 0);
}

#cambionCycle {
    background-color: rgb(31, 0, 9);
    border-color: rgb(70, 0, 15);
}

#vallisCycle {
    background-color: rgb(0, 69, 71);
    border-color: rgb(0, 170, 170);
}

div.Cycle {
    min-width: 400px;
    text-align: center;
    color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 8px;
    margin: 10px;
}

div.sorties {
    min-width: 400px;
    text-align: center;
    color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 8px;
    margin: 10px;
    background-color: rgb(20, 0, 56);
    border-color: rgb(29, 0, 83);
}

/* Alert Title */
div.alerts :nth-child(1) {
    color: lightcyan;
    font-weight: normal;
}

/* Alert Rewards */
div.alerts :nth-child(6) {
    color: yellow;
    font-weight: normal;
}
/* Alert Credit color */
div.alerts :last-child {
    color: lightblue;
}