header > h1 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    text-align: center;
    color: lightcyan;
}

header > span > img {
    border-radius: 100px;
    border-color: transparent;
    background-color: white;
    border-style:solid;
    transition-duration: 1s;
}

header > span > img:hover {
    background-color: rgb(179, 131, 0);
}

body {
    background-color: rgb(65, 65, 65);
    background-image: url("./BackgroundImages/3.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Titillium Web', sans-serif;
    font-weight: lighter;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#prompt {
    margin: auto;
    width: 50%;
    padding: 200px;
}


a:link {
    text-decoration: none;
    color: limegreen;
}

a:visited {
    text-decoration: none;
    color: green;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: limegreen;
}

#platformButton {
    display: flex;
    justify-content: space-around;
}

#platformButton > button{
    font-family: 'Titillium Web', sans-serif;
    height: 40px;
    width: 100%;
    background-color: rgba(15, 15, 15, 0.5);
    color: white;
}

.Title {
    text-align: center;
    font-weight: bold;
    color: white;
}

div.alerts {
    min-width: 400px;
    background-color: rgb(7, 0, 31, 0.5);
    text-align: center;
    color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 8px;
    border-color: rgb(16, 0, 70, 0.5);
    margin: 10px;
}

div.news {
    width: 400px;
    background-color: rgb(7, 0, 31, 0.5);
    text-align: center;
    color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 8px;
    border-color: rgb(16, 0, 70, 0.5);
    margin: 10px;
}

div.news > img {
    width: 100%;
}

#cetusCycle {
    background-color: rgb(7, 31, 0, 0.5);
    border-color: rgb(26, 70, 0, 0.5);
}

#cambionCycle {
    background-color: rgb(31, 0, 9, 0.5);
    border-color: rgb(70, 0, 15, 0.5);
}

#vallisCycle {
    background-color: rgb(0, 69, 71, 0.5);
    border-color: rgb(0, 170, 170, 0.5);
}

div.Cycle {
    min-width: 400px;
    text-align: center;
    color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 8px;
    margin: 10px;
}

div.sorties {
    min-width: 400px;
    text-align: center;
    color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 8px;
    margin: 10px;
    background-color: rgb(20, 0, 56, 0.5);
    border-color: rgb(29, 0, 83, 0.5);
}

div.fissures {
    width: 200px;
    text-align: center;
    color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 8px;
    margin: 10px;
}

/* Tiers for Fissures */
div.Lith {
    background-color: rgb(88, 50, 0, 0.5);
    border-color: rgb(70, 39, 0, 0.5);
}

div.Meso, div.Neo {
    background-color: rgb(0, 0, 0, 0.5);
    border-color: rgb(56, 36, 0, 0.5);
}

div.Axi {
    background-color: rgb(44, 30, 0, 0.5);
    border-color: rgb(187, 121, 0, 0.5);
}

div.Requiem {
    background-color: rgb(65, 0, 0, 0.5);
    border-color: rgb(129, 0, 0, 0.5);
}

/* Alert Title */
div.alerts :nth-child(1) {
    color: lightcyan;
    font-weight: normal;
}

/* Alert Rewards */
div.alerts :nth-child(6) {
    color: yellow;
    font-weight: normal;
}
/* Alert Credit color */
div.alerts :last-child {
    color: lightblue;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(8, 8, 8);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #808080;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color:rgb(161, 118, 0);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Change the selected platform's color to aquamarine to show user selected platform */
.sidenav .selected { 
    color: aquamarine;
}

/* Make selected platform color not change when hovered on */
.sidenav .selected:hover {
    color: aquamarine;
}

/* Platform disable hover */
.sidenav :nth-child(4):hover {
    color: #808080;
}

/* Color clear preference red to indicate to user that its a "dangerous" setting */
.sidenav :last-child:hover {
    color: red;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}